@use "./colors.scss";
@use "./fonts.scss";

:root {
    @include fonts.fonts;
}

:root {
    @include colors.colors;
}

:root {
    --shadow: drop-shadow(0px 6px 6px rgba(51, 51, 51, 0.045));
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-30);
}

// Chrome
*::-webkit-scrollbar {
    display: none;
}

// Firefox
* {
    scrollbar-width: none;
}

:root {
    font-family: var(--font-sans);
    color: var(--secondary-30);
    font-size: 16px; // should be 10px
}
