.tube {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow-y: scroll;
}

.tubeIcon {
    display: flex;
    font-size: 8rem;
    height: fit-content;
}
